{% extends 'layouts/base.html' %}

{% block navbar %}


    <div class="container">
        <nav class="main-nav navbar navbar-expand-lg navbar-light">
            <div>
                <img src="{{ url_for('static', filename='images/icon.png') }}" alt="nav-logo" class="nav-logo" />
                <a class="nav-quest" href="/">QUEST</a>
            </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="nav-items navbar-nav">
                    <a class="nav-item nav-link active" href="#">ABOUT <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="#">MY TRIPS</a>
                    <a class="nav-item nav-link" href="#">CREATE TRIPS</a>
                    <a class="nav-item nav-link" href="#">GET APP</a>
                    <a class="nav-item nav-link" href="{{ url_for('user.login') }}">LOGIN</a>
                    <a class="nav-item nav-link" href="{{ url_for('user.signup') }}">SIGN UP</a>

                    <!-- <span><img src="{{ url_for('static', filename='images/login-icon.png') }}" alt="login"></span>-->
                </div>
            </div>
        </nav>
    </div>
{% endblock %}

{% block footer %}
<!--FOORER SECTION-->

<section id="footer">
  <div class="main-footer">
  <div class="container">
    <div class="footer-section">
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6">
              <h3 class="footer-heading">Quest World</h3>
              <p class="footer-content">
                &copy; 2018 Quest World Exploration Limited. <br /> All Rights Reserved
          </p>
          </div>
            <div class="col-md-3">
              <h3 class="footer-heading">Locations</h3>
              <div class="footer-location-list">
                <ul class="footer-location-list">
                <li>Alabama</li>
                <li>Sambisa</li>
                <li>Kutuput</li>
                <li>Tokyo</li>
                <li>Florida</li>
              </ul>
            </div>
            </div>
            <div>
              &nbsp; &nbsp; &nbsp;
              <ul class="footer-location-list">

                <li>Baga</li>
                <li>Rome</li>
                <li>Berlin</li>
                <li>Vienna</li>
                <li>Salasa</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6">
              <h3 class="footer-heading">BLOG</h3>
              <div class="footer-location-list">
                <ul class="footer-location-list">
                <li>Most Recent</li>
                <li>Popular Posts</li>
                <li>Travel Photos</li>
              </ul>
            </div>

            </div>
            <div class="col-md-6">
              <h3 class="footer-heading">CONTACT</h3>
              <p class="footer-content">
                <a href="{{ url_for('contact.index') }}">contact<a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
{% endblock %}
